{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Cook List</h1>
      </div>
      <div class="col-md-4 text-right">
        <a class="btn btn-primary" href="{% url "kitchen:cook-create" %}">Create New Cook</a>
      </div>
    </div>

    <div class="search">
      {% include "includes/search_form.html" %}
    </div>

    {% if cook_list %}
      <div class="cook-list-container">
        {% for cook in cook_list %}
          <div class="cook-item">
            {% if cook.photo %}
              <img class="cook-image" src="{{ cook.photo }}" alt="{{ cook.username }} Photo" width="200" height="270">
            {% else %}
              <img class="cook-image" src="{% static 'images/cook.png' %}" alt="Default Cook Photo">
            {% endif %}
            <div class="cook-name">{{ cook.username }}</div>
            <div class="cook-details">
              <p><strong>First Name:</strong> {{ cook.first_name }}</p>
              <p><strong>Last Name:</strong> {{ cook.last_name }}</p>
              <p><strong>Years of Experience:</strong> {{ cook.years_of_experience }}</p>
            </div>
            <div class="cook-buttons">
              <a href="{% url "kitchen:cook-detail" pk=cook.id %}" class="btn btn-cook-details">Details</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="mt-4">There are no cooks in the kitchen.</p>
    {% endif %}
  </div>
{% endblock %}
