{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1>{{ object|yesno:"Update,Create" }} Cook</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="" method="post" novalidate enctype="multipart/form-data">

          {% csrf_token %}
          {{ form|crispy }}

          <div class="mt-4">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
