{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>#}
{#    Cook List#}
{#    <a style="float: right" class="btn btn-primary" href="{% url "kitchen:cook-create" %}">Create</a>#}
{#  </h1>#}
{##}
{#  {% include "includes/search_form.html" %}#}
{##}
{#  {% if cook_list %}#}
{#    <table class="table">#}
{#      <tr>#}
{#        <th>ID</th>#}
{#        <th>Username</th>#}
{#        <th>First name</th>#}
{#        <th>Last name</th>#}
{#        <th>Years of experience</th>#}
{#      </tr>#}
{##}
{#      {% for cook in cook_list %}#}
{#        <tr>#}
{#          <td>#}
{#            {{ cook.id }}#}
{#          </td>#}
{#          <td>#}
{#            <a href="{% url "kitchen:cook-detail" pk=cook.id %}">{{ cook.username }}</a>#}
{#          </td>#}
{#          <td>#}
{#            {{ cook.first_name }}#}
{#          </td>#}
{#          <td>#}
{#            {{ cook.last_name }}#}
{#          </td>#}
{#          <td>#}
{#            {{ cook.years_of_experience }}#}
{#          </td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#    </table>#}
{#  {% else %}#}
{#    <p>There are no cooks in the kitchen.</p>#}
{#  {% endif %}#}
{##}
{#{% endblock %}#}


{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Cook List</h1>
      </div>
      <div class="col-md-4 text-right">
        <a class="btn btn-primary" href="{% url "kitchen:cook-create" %}">Create New Cook</a>
      </div>
    </div>

    {% include "includes/search_form.html" %}

    {% if cook_list %}
      <div class="table-responsive">
        <table class="table table-bordered table-striped mt-4">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Years of Experience</th>
            </tr>
          </thead>
          <tbody>
            {% for cook in cook_list %}
              <tr>
                <td>{{ cook.id }}</td>
                <td><a href="{% url "kitchen:cook-detail" pk=cook.id %}">{{ cook.username }}</a></td>
                <td>{{ cook.first_name }}</td>
                <td>{{ cook.last_name }}</td>
                <td>{{ cook.years_of_experience }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p class="mt-4">There are no cooks in the kitchen.</p>
    {% endif %}
  </div>
{% endblock %}
