{% extends "base.html" %}
{% load static %}

{% block content %}
  <style>
    .dish-type-container {
      margin-top: 35px;
      display: grid;
      grid-template-columns: repeat(auto-fill, 220px);
      grid-gap: 20px;
      justify-content: space-between;
    }

    .dish-type-item {
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
    }

    .dish-type-name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .dish-name {
      overflow: auto;
      flex-grow: 1;
    }

    .dish-type-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }

    .dish-type-buttons a {
      padding: 8px 12px;
      border-radius: 4px;
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.2s;
      font-size: 14px;
      margin-left: 10px;
    }

    .btn-update {
      background-color: #4285F4;
    }

    .btn-delete {
      background-color: #DC3545;
    }

    .btn-update:hover,
    .btn-delete:hover {
      background-color: #357ae8;
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Dish Type List</h1>
      </div>
      <div class="col-md-4 text-right">
        <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary">Create New Dish Type</a>
      </div>
    </div>

    {% include "includes/search_form.html" %}

    {% if dish_type_list %}
      <div class="dish-type-container">
        {% for dish_type in dish_type_list %}
          <div class="dish-type-item">
            <div class="dish-type-name">{{ dish_type.name }}</div>
            <div class="dish-name">
              {% for dish in dish_type.dishes.all %}
                <hr>
                <p>Dishes:</p>
                <p><strong>Name:</strong> <a href="{% url "kitchen:dish-detail" pk=dish.id %}">{{ dish.name }}</a></p>
              {% empty %}
                <p>There are no dishes!</p>
              {% endfor %}
            </div>
            <div class="dish-type-buttons">
              <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}" class="btn btn-update">Update</a>
              <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}" class="btn btn-delete">Delete</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="mt-4">There are no dish types in the menu.</p>
    {% endif %}
  </div>
{% endblock %}



