{% extends "base.html" %}

{% block content %}
  <h1>
    Dish Type List
    <a style="float: right" href="{% url "kitchen:dish-type-create" %}">+</a>
  </h1>
  {% if dish_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish_type in dish_type_list %}
        <tr>
          <td>
            {{ dish_type.id }}
          </td>
          <td>
            {{ dish_type.name }}
          </td>
          <td>
            <a href="{% url "kitchen:dish-type-update" pk=dish_type.id%}">UPDATE</a>
          </td>
          <td>
            <a href="{% url "kitchen:dish-type-delete" pk=dish_type.id%}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no dish types in menu.</p>
  {% endif %}

{% endblock %}
