<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        crossorigin="anonymous">
  <title>Kitchen</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <ul>
          <li><a href="{% url "kitchen:index" %}">Home</a></li>
          <li><a href="#">All cooks</a></li>
          <li><a href="#">All dishes</a></li>
          <li><a href="#">All dish types</a></li>
        </ul>
      </div>
      <div class="col-sm-9">
        <h1>Restaurant Home</h1>
        <p>Welcome to the Greatest Restaurant!</p>
        <h3>Restaurant content:</h3>
        <ul>
          <li>Num dishes: {{ num_dishes }}</li>
          <li>Num cooks: {{ num_cooks }}</li>
          <li>Num dish types: {{ num_dish_types }}</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
